:root {
  --orange: #e76f51;
  --grey: #d2d2d2;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

/* reset elements */

a {
  text-decoration: none;
}

/* main styles */

body {
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; /* 16px */
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url(../images/header-bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 55rem;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.nav__wrapper {
  display: flex;
  align-items: center;
}
.app-logo {
  display: block;
  width: 5rem;
  height: 5rem;
  margin-right: 4rem;
}
.app-logo__img {
  width: 100%;
  height: 100%;
}
.menu {
  display: none;
}
.menu__item {
  margin-right: 1.5rem;
}
.menu__link {
  color: var(--grey);
  transition: color 150ms ease-in;
}
.menu__link:hover {
  color: #fff;
}
.menu__link--active {
  color: #fff;
  position: relative;
  z-index: 1;
}
.menu__link--active::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 2rem;
  top: 45%;
  /* to center the element */
  right: 0;
  left: 0;
  margin: 0 auto;
  /* --------------------- */
  transform: rotate(45deg);
  z-index: -1;
}
.nav-menu {
  position: fixed;
  background-color: #fff;
  width: 25rem;
  top: 0;
  left: -25rem;
  bottom: 0;
  padding: 2.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: all 250ms ease-in;
}
.nav-menu--open {
  left: 0;
}
.mobile-menu {
  margin-bottom: 3rem;
}
.mobile-menu__item {
  margin-bottom: 1rem;
}
.mobile-menu__link {
  color: var(--orange);
}
.nav-menu__links {
  display: flex;
  gap: 0.5rem;
}
.nav-menu__link {
  color: var(--orange);
  display: block;
  border: 1px solid var(--orange);
  padding: 1rem;
  flex-grow: 1;
  text-align: center;
  border-radius: 3rem;
  transition: all 150ms ease-in;
  cursor: pointer;
}
.nav-menu__link:hover {
  background-color: var(--orange);
  color: #fff;
}
.nav-menu__link--border {
}
.header__links {
  display: none;
}
.header__link {
  color: #fff;
  font-family: "Roboto Medium";
  margin-left: 1.5rem;
  cursor: pointer;
}
.header__link--border {
  border: 1px solid #fff;
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  transition: background-color 150ms ease-in;
}
.header__link--border:hover {
  background-color: var(--orange);
}
.nav__btn {
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav__btn-line {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 1rem;
  position: relative;
  transition: all 150ms ease-in-out;
}
.nav__btn-line::before,
.nav__btn-line::after {
  content: "";
  width: 2.5rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 1rem;
  position: absolute;
  transition: all 200ms ease-in-out;
}
.nav__btn-line::before {
  top: 0.8rem;
}
.nav__btn-line::after {
  bottom: 0.8rem;
}
.nav__btn--open .nav__btn-line {
  /* we cant use opacity beacause all of the nav btn was gon */
  background-color: transparent;
}
.nav__btn--open .nav__btn-line::before {
  transform: rotate(45deg);
  top: 0;
}
.nav__btn--open .nav__btn-line::after {
  transform: rotate(-45deg);
  bottom: 0;
}
